.animation-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  outline: 1px solid orange;
  margin-bottom: 50px;

  @media(max-width: 768px) {
    max-width: 400px;
  }

  .lw-house {
    padding-top: 75px;
    //outline: 1px solid black;
    overflow: hidden;
    z-index: 2;

    svg {
      display: block;
      //outline: 1px solid red;
      overflow: visible;

      rect {
        position: relative;

        &:nth-child(1) {
          z-index: 1;
        }

        &:nth-child(2) {
          z-index: 2;
        }

        &:nth-child(3) {
          z-index: 3;
        }
      }

      @media(max-width: 768px) {
        max-width: 200px;
        height: auto;
      }
    }
  }

  .lw-back-tree {
    position: absolute;
    right: 85px;
    bottom: 30px;
    z-index: 1;

    @media(max-width: 768px) {
      max-width: 80px;
      right: 60px;
      bottom: 30px;
    }

    @media(max-width: 400px) {
      right: 30px;
    }
  }

  .lw-tree {
    position: absolute;
    left: 0px;
    bottom: -5px;
    z-index: 2;
    @media(max-width: 768px) {
      max-width: 80px;
    }
  }

  .lw-front-tree {
    position: absolute;
    right: 0px;
    bottom: -40px;
    z-index: 2;
    @media(max-width: 768px) {
      max-width: 80px;
      bottom: -40px;
    }
  }

  .lw-fence {
    position: absolute;
    right: 130px;
    bottom: -40px;
    z-index: 2;
    @media(max-width: 768px) {
      max-width: 100px;
      right: 80px;
      bottom: -20px;
    }
  }
}
