<div class="animation-block">

  <div class="lw-tree">
    <img src="./assets/img/tree.png" alt="Дерево" width="136" height="266">
  </div>

  <div class="lw-house">
    @include('./house-component.html')
  </div>

  <div class="lw-front-tree">
    <img src="./assets/img/front-tree.png" alt="Дерево" width="133" height="255">
  </div>

  <div class="lw-back-tree">
    <img src="./assets/img/back-tree.png" alt="Дерево" width="204" height="309">
  </div>

  <div class="lw-fence">
    <img src="./assets/img/fence.png" alt="Забор" width="234" height="200">
  </div>

</div>
